<!DOCTYPE html>
<html lang="fr">
<head>
    <title>À propos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/main.css">
    <noscript>
        <link rel="stylesheet" href="../static/css/noscript.css">
    </noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="index.html" class="logo">
                <span class="symbol"><img src="images/logo_CAAC.png" alt=""></span><span class="title">Centre Adoption d'animaux de compagnie</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="index.html">Acceuil</a></li>
            <li><a href="apropos.html">À propos</a></li>
            <li><a href="fiche_animal.html">Fiche Animal</a></li>
            <li><a href="formulaire.html">Formulaire d'adoption</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <h1>À propos </h1>
            <!-- 							<span class="image main"><img src="images/animals.png" alt="" /></span> -->

            <div class="slideshow-container">

                <!-- Full-width images with number and caption text -->


                <div class="mySlides fade">
                    <img src="images/img2.jpg" alt>
                </div>

                <div class="mySlides fade">
                    <img src="images/img3.jpg" alt>
                </div>

                <div class="mySlides fade">
                    <img src="images/img4.jpg" alt>
                </div>

                <div class="mySlides fade">
                    <img src="images/img5.jpg" alt>
                </div>

                <div class="mySlides fade">
                    <img src="images/img6.jpg" alt>
                </div>


                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <span class="dot" onclick="currentSlide(5)"></span>
            </div>


            <h2> Pourquoi choisir notre centre :</h2>
            <ul>
                <li><h3>Des animaux aimants en attente d'une maison : </h3>
                    <p>Notre centre abrite une variété d'animaux de compagnie adorables, des chiens et chats aux lapins
                        et aux oiseaux. Tous nos pensionnaires attendent avec impatience de trouver une famille aimante
                        et un foyer pour la vie.</p></li>
                <li><h3> Un processus d'adoption simple :</h3>
                    <p>Notre équipe dévouée rend le processus d'adoption simple et accessible. Nous sommes là pour vous
                        guider à chaque étape, de la recherche de votre compagnon idéal à l'intégration harmonieuse dans
                        votre foyer.
                    </p></li>
                <li><h3> Des soins de qualité : </h3>
                    <p>Tous nos animaux reçoivent des soins de qualité, y compris des examens vétérinaires réguliers,
                        des vaccinations et une alimentation équilibrée. Nous nous engageons à assurer leur bien-être
                        optimal.
                    </p></li>
                <li><h3> Éducation et ressources :</h3>
                    <p>En tant que centre d'adoption, nous croyons en l'importance de l'éducation des propriétaires
                        d'animaux. Nous fournissons des ressources précieuses et des conseils pour vous aider à prendre
                        soin de votre nouvel ami à fourrure.
                    </p></li>
            </ul>

            <h2> Comment vous pouvez aider :</h2>
            <ul>
                <li><h3>Adopter :</h3>
                    <p>Si vous cherchez un nouvel animal de compagnie, explorez nos pensionnaires en attente d'adoption.
                        Vous trouverez certainement un compagnon qui correspond à votre style de vie.</p></li>
                <li><h3>Faire un don :</h3>
                    <p>Votre soutien financier nous aide à continuer notre mission de sauver et de prendre soin des
                        animaux. Chaque contribution compte.</p></li>
                <li><h3>Bénévolat :</h3>
                    <p>Si vous avez du temps et de l'amour à donner, rejoignez notre équipe de bénévoles. Vous pouvez
                        faire une réelle différence dans la vie des animaux.</p></li>
                <li><p>Nous sommes impatients de vous aider à trouver votre compagnon parfait et de travailler ensemble
                    pour créer des histoires de bonheur entre les animaux et les familles. Explorez notre site,
                    découvrez nos pensionnaires et n'hésitez pas à nous contacter pour toute question.</p></li>
                <li><p>Bienvenue dans la famille du Centre d'Adoption d'Animaux de Compagnie !</p></li>
            </ul>


        </div>
    </div>

    <footer id="footer">
        <div class="inner">
            <section>
                <h2>Get in touch</h2>
                <form method="post" action="#">
                    <div class="fields">
                        <div class="field half">
                            <label for="name">Name:</label>
                            <input type="text" name="name" id="name" placeholder="Name">
                        </div>
                        <div class="field half">
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" placeholder="Email">
                        </div>
                        <div class="field">
                            <label for="message">Message:</label>
                            <textarea name="message" id="message" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send" class="primary"></li>
                    </ul>
                </form>
            </section>
            <section>
                <h2>Follow</h2>
                <ul class="icons">
                    <li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a>
                    </li>
                    <li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a>
                    </li>
                    <li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
                    <li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
                    <li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
                </ul>
            </section>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/browser.min.js"></script>
<script src="../static/js/breakpoints.min.js"></script>
<script src="../static/js/util.js"></script>
<script src="../static/js/main.js"></script>

</body>
</html>